In [1]:
import yfinance as yf
import numpy as np
import pandas as pd
from component_data_preprocessing.input import get_data
import tensorflow as tf
from component_model import Transformer

In [2]:
df = yf.download("Meta", start="2018-11-01", end="2023-10-1", interval="1d")
df

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-11-01,151.520004,152.750000,149.350006,151.750000,151.750000,25640800
2018-11-02,151.800003,154.130005,148.960007,150.350006,150.350006,24708700
2018-11-05,150.100006,150.190002,147.440002,148.679993,148.679993,15971200
2018-11-06,149.309998,150.970001,148.000000,149.940002,149.940002,16667100
2018-11-07,151.570007,153.009995,149.830002,151.529999,151.529999,21877400
...,...,...,...,...,...,...
2023-09-25,295.640015,300.950012,293.700012,300.829987,300.829987,18987000
2023-09-26,297.660004,300.299988,296.010010,298.959991,298.959991,19417200
2023-09-27,300.450012,301.299988,286.790009,297.739990,297.739990,36429800
2023-09-28,298.940002,306.329987,296.700012,303.959991,303.959991,22167100
2023-09-29,307.380005,310.640015,299.359985,300.209991,300.209991,25356600

In [34]:
process = get_data(df, 50, 3)

In [35]:
train, test = process.get_train_test()

In [36]:
train.shape

(1183, 3, 50)

In [37]:
test.shape

(1183, 2, 3)

In [38]:
transformer = Transformer.model(input_shape=[train.shape[1:], test.shape[1:]], num_layers=4, d_model=10, num_heads=8, dff=512)

In [39]:
model = transformer.build_model()

In [11]:
class get_data():
    def __init__(self, data_path_or_df, seq_train, seq_test):
        try:
            if isinstance(data_path_or_df, str):
                self.data = pd.read_csv(data_path_or_df)
            elif isinstance(data_path_or_df, pd.DataFrame):
                self.data = data_path_or_df
            self.seq_train = seq_train
            self.seq_test = seq_test
            self.train, self.test = self.data_generator(self.data, seq_train, seq_test)
        except:
            print("data_path_or_df must be path to data csv or DataFrame.")

    def set_seq(self, seq_train = None, seq_test = None):
        if seq_train != None or seq_test != None and seq_train != self.seq_train or seq_test != self.seq_test:
            self.seq_train = seq_train
            self.seq_test = seq_test
            self.train, self.test = self.data_generator(self.data, self.seq_train, self.seq_test)
      
    def set_data_path_or_df(self, data_path_or_df):
        try:
            if isinstance(data_path_or_df, str):
                self.data = pd.read_csv(data_path_or_df)
            elif isinstance(data_path_or_df, pd.DataFrame):
                self.data = data_path_or_df
            self.train, self.test = self.data_generator(self.data)
        except:
            print("data_path_or_df must be path to data csv or DataFrame.")

    def get_train_test(self):
        return self.train, self.test

    def data_generator(self, data, seq_train, seq_test):
        data = data[['Open', 'Close', 'Volume']]
        data_ai = np.empty((len(data), 3, 0))
        for i in range(seq_train + seq_test):
            data_ai = np.append(data_ai, np.array(data.shift(i))[np.newaxis,:,:].transpose(1, 2, 0), axis=2)

        data_ai = data_ai[seq_train + seq_test - 1:, :, ::-1]

        return data_ai[:, :, :seq_train], data_ai[:, :-1, -seq_test:]

In [55]:
def data_generator(data, seq_train, seq_test):
        data = data[['Open', 'Close', 'Volume']]
        data_ai = np.empty((len(data), 3, 0))
        for i in range(seq_train + seq_test):
            data_ai = np.append(data_ai, np.array(data.shift(i))[np.newaxis,:,:].transpose(1, 2, 0), axis=2)

        data_ai = data_ai[seq_train + seq_test - 1:, :, ::-1]
        start = np.full((data_ai.shape[0], 2, 1), -1)
        end = np.full((data_ai.shape[0], 2, 1), -2)

        return (data_ai[:, :, :seq_train], np.concatenate([start, data_ai[:, :-1, -seq_test:]], axis=2)), np.concatenate([data_ai[:, :-1, -seq_test:], end], axis=2)

In [56]:
train, test = data_generator(df, 50, 3)

In [60]:
train[1][0]

array([[ -1.        , 149.        , 146.94999695, 149.75      ],
       [ -1.        , 147.53999329, 148.30000305, 150.03999329]])

In [19]:
ones = np.ones((1183, 2, 1))

In [20]:
ones.shape

(1183, 2, 1)

In [29]:
t.shape

(1183, 2, 4)

In [42]:
test = np.concatenate([test, ones], axis=2)

In [43]:
test.shape

(1183, 2, 4)

In [24]:
t[1]

array([[146.94999695, 149.75      , 149.19999695,   1.        ],
       [148.30000305, 150.03999329, 147.57000732,   1.        ]])

In [26]:
k = np.full((1183, 2, 1), -1)

In [27]:
t = np.concatenate([test, k], axis=2)

In [41]:
transformer([train, test])

TypeError: 'model' object is not callable

In [32]:
train.shape

(1183, 3, 50)

In [21]:
test.shape

(1183, 2, 3)

In [10]:
Pos = pos.PositionalTraceback(50, 10)

In [11]:
out = Pos(train)

In [12]:
out.shape

TensorShape([1183, 2, 50, 10])